@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
  /* ----------header------ */
  .header-container {
    max-width: 100%;
  }
  /* ------hero---------- */
  .hero-container {
    max-width: 100%;
  }

  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/tablet/bg/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: url(../images/tablet/bg/bg-hero-tablet@2x.jpg);
    }
  }
  /* -----Our burbers------ */
}
